@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.root {
  background-color: #000000;
}

.page {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  max-width: 1280px;
  font-family: "Inter", "Arial", sans-serif;
  color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  box-sizing: border-box;
  display: flex;
  max-width: 880px;
  width: 100%;
  padding: 45px 0 41px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 943px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 616px) {
  .header {
    padding: 28px 27px 27px;
  }
}

.header__link {
}

.header__logo {
  max-width: 142px;
  width: 100%;
}

@media screen and (max-width: 616px) {
  .header__logo {
    max-width: 104px;
  }
}

.profile {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 880px;
  width: 100%;
  margin: 36px auto 0;
}

@media screen and (max-width: 943px) {
  .profile {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 42px;
    flex-direction: column;
  }
}

@media screen and (max-width: 616px) {
  .profile {
    padding-left: 19px;
    padding-right: 19px;
  }
}

.profile__wrapper {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 943px) {
  .profile__wrapper {
    flex-direction: column;
  }
}

.profile__wrapper:hover .profile__avatar {
  filter: drop-shadow(4px 4px 10px #2f80ed);
  transform: scale(1.1);
}

.profile__avatar {
  width: 120px;
  height: 120px;
  margin: 0 30px 0 0;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s linear;
}

@media screen and (max-width: 943px) {
  .profile__avatar {
    margin: 0;
  }
}

.profile__info {
}

@media screen and (max-width: 943px) {
  .profile__info {
    margin-top: 26px;
  }
}

.profile__name-wrapper {
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 616px) {
  .profile__info {
    margin-left: 25px;
  }
}

.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0 18px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 943px) {
  .profile__name {
    margin-right: 10px;
  }
}

@media screen and (max-width: 676px) {
  .profile__name {
    font-size: 27px;
    line-height: 32.68px;
  }
}

.button-edit {
  width: 24px;
  height: 24px;
  background-color: #000000;
  background-image: url(../images/profile__edit-button.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.5s linear;
}

@media screen and (max-width: 616px) {
  .button-edit {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}

.button-edit:hover {
  opacity: 0.6;
}

.profile__job {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  margin: 16px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 943px) {
  .profile__job {
    text-align: center;
  }
}

@media screen and (max-width: 676px) {
  .profile__job {
    font-size: 14px;
    line-height: 16.94px;
    margin-top: 9px;
  }
}

.button-add {
  padding: 0;
  max-width: 150px;
  width: 100%;
  height: 50px;
  background-color: #000000;
  background-image: url(../images/profile__add-button\(plus\).png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
  border: 2px solid #fff;
  cursor: pointer;
  transition: 0.5s linear;
}

@media screen and (max-width: 943px) {
  .button-add {
    margin-top: 31px;
    max-width: 600px;
  }
}

@media screen and (max-width: 676px) {
  .button-add {
    max-width: 282px;
    background-size: 16px;
  }
}

.button-add:hover {
  opacity: 0.6;
}

.places {
  box-sizing: border-box;
  margin: 51px auto 0;
  max-width: 880px;
  width: 100%;
}

@media screen and (max-width: 943px) {
  .places {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 616px) {
  .places {
    padding-left: 19px;
    padding-right: 19px;
    margin-top: 36px;
  }
}

.places__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 943px) {
  .places__cards {
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
  }
}

@media screen and (max-width: 616px) {
  .places__cards {
    grid-template-columns: repeat(auto-fit, 282px);
  }
}

.places__item {
  background-color: #fff;
  border-radius: 10px;
  transition: 0.5s linear;
}

.places__item:hover {
  box-shadow: 3px 3px 5px #2f80ed;
  transform: scale(1.05);
  opacity: 0.9;
}

.places__image-wrapper {
  margin: 0;
  padding: 0;
}

.places__image {
  display: block;
  width: 100%;
  height: 282px;
  margin: 0;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.places__discription {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 25px 20px 26px 21px;
}

.places__text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  color: #000;
  margin: 0;
  max-width: 190px;
}

.places__button-like {
  background-image: url(/images/places__like.png);
  width: 22px;
  height: 19px;
  transition: 0.5s linear;
  cursor: pointer;
  border: none;
  background: transparent url(../images/places__like.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.places__button-like:hover {
  opacity: 0.5;
}

.places__button-like_active {
}

.footer {
  box-sizing: border-box;
  margin: 66px auto 60px;
  max-width: 880px;
  width: 100%;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  color: #545454;
}

@media screen and (max-width: 943px) {
  .footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 616px) {
  .footer {
    padding-left: 19px;
    padding-right: 19px;
    margin: 48px auto 36px;
    font-size: 14px;
    line-height: 16.94px;
  }
}
